<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <import resource="ApplicationContext-security.xml"/>
    <import resource="mongo-db.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <!--suppress SpringPlaceholdersInspection -->
            <list>
                <value>classpath:db.properties</value>
                <value>classpath:email.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="com.archer.livequote">
        <context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
    </context:component-scan>

    <bean id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
         <property name="basenames">
            <list>
                <value>classpath:messages/messages</value>
                <value>classpath:messages/validation-errors</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8" />
    </bean>


    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="configLocation" value="classpath:velocity.properties"/>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.smtp.host}"/>
        <property name="username" value="${mail.username}"/>
        <property name="password" value="${mail.password}"/>
        <property name="protocol" value="smtps"/>
        <property name="port" value="${mail.smtp.port}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtps.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtps.starttls.enable">${mail.smtp.auth}</prop>
                <prop key="mail.smtps.debug">true</prop>
            </props>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
</beans>
